
/* body {
background-color: rgb(238, 255, 0);
}  */
  h2{
    color: navy;
}
table{
  margin: 5% 15%;
}
th:hover{
  background-color: blue;
  color: #fff;
}
table, thead,tbody,th, td{
  padding: 7px;
  width: fit-content;
  border: solid 2px navy;
  border-collapse: collapse;

}
 form{
  margin: 5% 15%;
  /* border: solid 1px navy; */

 }