<!-- dashboard inner -->
{% extends "layout.html" %}
<!-- main -->

{% block innerContaint %}

<form method="post">
    <div class="mb-3 py-5">
        <!-- Name -->
        <div class="col-auto">
            <label class="sr-only" for="name">e.g.Ben Ngafua</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Full name</div>
                </div>
                <input type="text" class="form-control" name="name" id="name" placeholder="e.g.Ben Ngafua">
            </div>
        </div>

        <!-- Contact -->
        <div class="col-auto">
            <label class="sr-only" for="contact">Contact</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Contact</div>
                </div>
                <input type="text" class="form-control" id="contact" name="contact" placeholder="e.g. +231881000999">
            </div>
        </div>
        <!-- Location -->
        <div class="col-auto">
            <label class="sr-only" for="location">location</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Location</div>
                </div>
                <input type="text" class="form-control" name="location" id="location" placeholder="Location">
            </div>
        </div>
        <button type="submit" class="btn cur-p btn-primary">Submit</button>

    </div>

</form>
{% endblock %}