{% extends "layout.html" %}
<!-- main -->

{% block innerContaint %}

<!-- dashboard inner -->
<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Calendar</h2>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- invoice section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</h2>
                    </div>
                </div>
                <div class="full padding_infor_info">
                    <div class="invoice_inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="white_shd full margin_bottom_30">
                                    <div class="full graph_head">
                                        <div class="heading1 margin_0">
                                            <h2>Calendar</h2>
                                        </div>
                                    </div>
                                    <div class="full progress_bar_inner">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="full">
                                                    <div class="ui calendar" id="example14"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
</div>

<!-- end dashboard inner -->
{% endblock %}