<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
</head>

<body>
    <h5>
        <h5>

            <center>
                <h3>Create Your Church App. If already exist click <a href="/home">Home</a></h3>

                <form action="" method="post">
                    <div>
                        <label for="name">Church Name</label>
                        <input type="text" name="name" id="name"> <br><br>
                    </div>

                    <!-- Anniversary-->
                    <div>
                        <label for="anniversary">Church Anniversary</label>
                        <input type="date" name="anniversary" id="anniversary" placeholder="dd/mm/yy"><br><br>
                    </div>
                    <div>
                        <label for="code">Church Code</label>
                        <input type="text" name="code" id="code"> <br> <br>
                    </div>
                    <div>
                        <label for="mail">Church Mail</label>
                        <input type="email" name="mail" id="mail"> <br><br>
                    </div>
                    <div>
                        <label for="phone">Mobile Number</label>
                        <input type="text" name="phone" id="phone"> <br><br>
                    </div>
                    <div>
                        <label for="bankNo">Bank Account Number</label>
                        <input type="text" name="bankNo" id="bankNo"> <br><br>
                    </div>
                    <div><button type="submit">Create</button></div>
                </form>
            </center>
        </h5>
    </h5>
</body>

</html>