{% extends "layout.html" %}
<!-- main -->

{% block innerContaint %}

<!-- dashboard inner -->
<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
    <!-- <div class="row column1">
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-user yellow_color"></i>
                    </div>
                </div>
                <div class="">
                    <div>
                        <p class="total_no">2500</p>
                        <p class="head_couter">Welcome</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="">
                    <div>
                        <p class="total_no">123.50</p>
                        <p class="head_couter">Average Time</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-cloud-download green_color"></i>
                    </div>
                </div>
                <div class="">
                    <div>
                        <p class="total_no">1,805</p>
                        <p class="head_couter">Collections</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-comments-o red_color"></i>
                    </div>
                </div>
                <div class="">
                    <div>
                        <p class="total_no">54</p>
                        <p class="head_couter">Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row column1 social_media_section">
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <!-- <i class="fa fa-facebook"></i> -->
                    <h1>Members</h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-users yellow_color"></i>
                    </div>
                    <h4>This year: {{memberSum}}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Departments </h1>
                </div>
                <div class="social_cont">
                    <!-- <ul>
                        <li>
                            <span>Groups</span>
                        </li>
                    </ul> -->
                    <div class="couter_icon">
                        <i class="fa fa-object-group yellow_color"></i>
                    </div>
                    <h4>Total: {{deparmentSum}}</h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Absentees </h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-user-times yellow_color"></i>
                    </div>
                    <div>
                        <h4>Last Week {{absent_percent}}% of {{memberSum}} ({{absence}})</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Attendees</h1>
                </div>
                <div class="social_cont">
                    <img src="{{url_for('static', filename='images/layout_img/verified-user.png')}}" width="20%" alt="">

                    <h4> Last week {{present_percent}}% of {{memberSum}}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>
                        New members
                    </h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">

                        <i class="fa fa-user-plus yellow_color"></i>
                    </div>
                </div>
                <div class="social_cont">
                    <ul>
                        <li>
                            <h4> 3</h4>
                            <h4> This Month</h4>
                        </li>
                        <li id="focus">
                            <span><strong>20</strong></span>
                            <strong>This year</strong>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Birthday </h1>
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-birthday-cake yellow_color"></i>
                    </div>
                    <div class="social_cont">
                        <ul>
                            <li>

                                <h3>{{todayNumOfBirthday}}</h3>
                                <h4>Today</h4>
                            </li>
                            <li id="focus">
                                <span><strong>{{numOfBirthday}}</strong></span>
                                <strong>This month</strong>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Marriage </h1>
                    <!--  -->
                </div>
                <div class="social_cont">
                    <div class="couter_icon">
                        <i class="fa fa-mars-double yellow_color"></i>
                    </div>
                </div>
                <div class="social_cont">
                    <ul>
                        <li>
                            <h4>0</h4>
                            <h4>Today</h4>
                        </li>
                        <li id="focus">
                            <span><strong>4</strong></span>
                            <h4>This month</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="full socile_icons tw margin_bottom_30">
                <div class="social_icon">
                    <h1>Follow up</h1>
                </div>
                <div style="text-align: center; padding-top: 10px;">

                    <img src="{{url_for('static', filename='images/layout_img/follow.png')}}" width="20%">

                </div>
                <div class="social_cont">
                    <ul>
                        <li>
                            <span><strong>5</strong></span>
                            <h4>Done follow-up</h4>
                        </li>
                        <li id="focus">
                            <span><strong>4</strong></span>
                            <h4>Need follow-up</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end dashboard inner -->

{% endblock %} {% block index %} {% endblock %}