<!-- dashboard inner -->
{% extends "layout.html" %}
<!-- main -->

{% block innerContaint %}
<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Invoice <small>( user invoice design )</small></h2>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- invoice section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2><i class="fa fa-file-text-o"></i> Invoice</h2>
                    </div>
                </div>
                <div class="full">
                    <div class="invoice_inner">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                    <h4>From</h4>
                                    <p><strong>Pluto Admin</strong><br> 427 Schoen Circles Suite 124<br> Melbourne Australia<br>
                                        <strong>Phone : </strong><a href="tel:9876543210">9876 543 210</a><br>
                                        <strong>Email : </strong><a href="mailto:yourmail@gmail.com">Yourmail@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                    <h4>To</h4>
                                    <p><strong>David Roman</strong><br> 427 Schoen Circles Suite 124<br> Melbourne Australia<br>
                                        <strong>Phone : </strong><a href="tel:9876543210">9876 543 210</a><br>
                                        <strong>Email : </strong><a href="mailto:yourmail@gmail.com">Yourmail@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                    <h4>Invoice No - #111457 </h4>
                                    <p><strong>Order ID : </strong>5b6R9C<br>
                                        <strong>Payment Due : </strong>July/18/2018<br>
                                        <strong>Account : </strong>254-55847
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full padding_infor_info">
                    <div class="table_row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Qty</th>
                                        <th>Product</th>
                                        <th>Serial #</th>
                                        <th>Description</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Product One</td>
                                        <td>005-475-321</td>
                                        <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
                                        <td>$20.00</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Product Two</td>
                                        <td>015-475-321</td>
                                        <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
                                        <td>$25.00</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Product Three</td>
                                        <td>025-475-321</td>
                                        <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
                                        <td>$20.00</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Product Four</td>
                                        <td>035-475-321</td>
                                        <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
                                        <td>$15.00</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Product Five</td>
                                        <td>045-475-321</td>
                                        <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
                                        <td>$25.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-md-6">
            <div class="full white_shd">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Payment Methods</h2>
                    </div>
                </div>
                <div class="full padding_infor_info">
                    <ul class="payment_option">
                        <li><img src="images/layout_img/visa.png" alt="#" /></li>
                        <li><img src="images/layout_img/mastercard.png" alt="#" /></li>
                        <li><img src="images/layout_img/american-express.png" alt="#" /></li>
                        <li><img src="images/layout_img/paypal.png" alt="#" /></li>
                    </ul>
                    <p class="note_cont">If you use this site regularly and would like to help keep the site on the Internet.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="full white_shd">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Total Amount</h2>
                    </div>
                </div>
                <div class="full padding_infor_info">
                    <div class="price_table">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:50%">Subtotal:</th>
                                        <td>$250.30</td>
                                    </tr>
                                    <tr>
                                        <th>Tax (9.3%)</th>
                                        <td>$10.34</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping:</th>
                                        <td>$5.80</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td>$265.24</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}