<!-- dashboard inner -->
{% extends "layout.html" %}
<!-- main -->

{% block innerContaint %}
<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Media Gallery</h2>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row column4 graph">
        <!-- Gallery section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Media Gallery Design Elements</h2>
                    </div>
                </div>
                <div class="full gallery_section_inner padding_infor_info">
                    <div class="row">
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g1.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g1.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g2.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g2.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g3.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g3.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g4.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g4.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g5.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g5.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g6.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g6.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g7.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g7.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g8.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g8.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g9.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g9.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g10.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g10.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g11.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g11.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g12.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g12.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g13.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g13.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g14.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g14.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g15.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g15.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g16.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g16.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g1.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g1.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g2.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g2.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g3.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g3.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g4.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g4.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g5.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g5.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g6.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g6.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g7.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g7.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 margin_bottom_30">
                            <div class="column">
                                <a data-fancybox="gallery" href="{{url_for('static', filename='images/layout_img/g8.jpg')}}"><img class="img-responsive" src="{{url_for('static', filename='images/layout_img/g8.jpg')}}" alt="#" /></a>
                            </div>
                            <div class="heading_section">
                                <h4>Sed ut perspiciatis</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end dashboard inner -->
{% endblock %}