{% extends "layout.html" %} {% block innerContaint %}

<form method="post">
    <div class="mb-3">
        <div class="mb-3">
            <label for="name"> Name</label>
            <input class="form-control" type="text" name="name" placeholder="Full name" autocapitalize="word">
        </div>
        <div class="mb-3">
            <label for="gender">Gender:</label> Male
            <input type="radio" name="gender" value="Male"> Female<input type="radio" name="gender" value="Female">
        </div>

        <div class="mb-3">
            <label for="relationship"> relationship</label>
            <input class="form-control" type="text" name="relationship" placeholder="relationship" autocapitalize="word">
        </div>
        <div>
            <label for="location"> Location</label>
            <input class="form-control" type="text" name="location" placeholder="Location" autocapitalize="word">
        </div>
        <div class="mb-3">
            <label for="contact">Contact</label>
            <input class="form-control" type="text" name="contact" placeholder="Contact" autocapitalize="word">
        </div>
        <div class="mb-3">
            <label for="occupation">Occupation</label>
            <input class="form-control" type="text" name="occupation" placeholder="Occupation" autocapitalize="word">
        </div>

        <div class="mb-3">
            <label for="date_of_birth">Date of Birth</label>
            <input class="form-control" name="date_of_birth" type="date" max="1999-12-13" placeholder="dd/mm/yy">
        </div>

        <div class="mb-3">
            <label for="department">Department</label>
            <input class="form-control" type="text" name="department" placeholder="Dpartment" autofocus autocomplete="additional-name">
        </div>
        <div class="mb-3">
            <label for="role">Position</label>
            <input class="form-control" type="text" name="role" placeholder="Position" autofocus autocomplete="additional-name">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>

{% endblock %}