
{% extends "layout.html"%}
{% block main %}
<div>
        <h4>   Weekly Activities</h4>
        <li>
               <ul>
                      Choir Practice 
                      <ul> TUESDAY</ul>
                      <ul> THURSDAY</ul>
                      <ul> SATURDAY</ul>

               </ul> 
               <ul>
                       Dance Practice
                       <ul>SUNDAY</ul>

               </ul>
               <ul>Bible Study
                       <ul>WEDNESDAY</ul>
               </ul>
               <ul>
                       Prayer Meeting
                       <ul>FRIDAY</ul>
               </ul>
               
        </li>
</div>
{% endblock %}