<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>CHURCH MANAGEMENT SYSTEM</title>

    </head>

    <body>
        <main>
            
        <h2> <a href="/newMember">Add member</a></h2>
        <button><a href="/member">Member</a></button>
            {% block main %}{% endblock %}
        </main>
    </body>

</html>
