{% extends "layout.html" %}

{% block main%}
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Location</th>
                <th>Contact</th>
                <th>Marital Status</th>
                <th>Occupation</th>
                <th>Department</th>
                <th>Date of Birth</th>
                <th>Date of Join</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{member.id}}.</td>
                <td>{{member.name}}</td>
                <td>{{member.gender}}</td>
                <td>{{member.location}}</td>
                <td>{{member.contact}}</td>
                <td>{{member.marital_status}}</td>
                <td>{{member.occupation}}</td>
                <td>{{member.department}}</td>
                <td>{{member.date_of_birth}}</td>
                <td>{{member.joined_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <div>
            
                
        </div>
{% endblock %}